In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt

In [4]:
trade = pd.read_csv('C:/Users/studying/train_trade.csv')

In [5]:
trade.head()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,1,21:40:09,0,bd,115641,202802,42143,197398,etc,2.678249e-07,0.001859
1,1,13:08:52,1,ah,104546,293593,41270,224395,etc,9.373872e-06,NaN
2,1,21:01:48,1,au,84624,107496,33916,312167,adena,2.249729e+00,NaN
3,1,14:37:50,1,ar,78411,226143,80350,34764,adena,6.695623e-03,NaN
4,1,20:32:00,0,ay,50284,44100,17523,276351,etc,5.356498e-08,0.037402

In [6]:
trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245196 entries, 0 to 2245195
Data columns (total 11 columns):
day               int64
time              object
type              int64
server            object
source_acc_id     int64
source_char_id    int64
target_acc_id     int64
target_char_id    int64
item_type         object
item_amount       float64
item_price        float64
dtypes: float64(2), int64(6), object(3)
memory usage: 188.4+ MB

In [7]:
trade.describe()

,day,type,source_acc_id,source_char_id,target_acc_id,target_char_id,item_amount,item_price
count,2.245196e+06,2.245196e+06,2.245196e+06,2.245196e+06,2.245196e+06,2.245196e+06,2.245196e+06,1.205053e+06
mean,1.478801e+01,4.632749e-01,6.566591e+04,2.006446e+05,6.593818e+04,2.003954e+05,1.177599e-01,1.942323e-01
std,8.076896e+00,4.986496e-01,3.773964e+04,1.147208e+05,3.760940e+04,1.147975e+05,8.391393e-01,7.983718e-01
min,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,2.678249e-08,9.350504e-08
25%,8.000000e+00,0.000000e+00,3.334700e+04,1.015950e+05,3.380800e+04,1.018400e+05,2.678249e-08,3.355428e-03
50%,1.500000e+01,0.000000e+00,6.548300e+04,2.006260e+05,6.632400e+04,1.993750e+05,1.339125e-07,1.761616e-02
75%,2.200000e+01,1.000000e+00,9.811900e+04,3.003960e+05,9.814100e+04,3.005450e+05,2.785379e-06,9.005563e-02
max,2.800000e+01,1.000000e+00,1.304740e+05,3.974380e+05,1.304730e+05,3.974380e+05,9.261007e+01,6.460263e+01

In [8]:
type_0 = trade.where(trade['type']==0)

In [9]:
type_0.head()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,1.0,21:40:09,0.0,bd,115641.0,202802.0,42143.0,197398.0,etc,2.678249e-07,0.001859
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,20:32:00,0.0,ay,50284.0,44100.0,17523.0,276351.0,etc,5.356498e-08,0.037402

In [10]:
type_0.dropna()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,1.0,21:40:09,0.0,bd,115641.0,202802.0,42143.0,197398.0,etc,2.678249e-07,0.001859
4,1.0,20:32:00,0.0,ay,50284.0,44100.0,17523.0,276351.0,etc,5.356498e-08,0.037402
5,1.0,00:29:02,0.0,ac,87962.0,334455.0,89597.0,321617.0,etc,2.678249e-05,0.031698
8,1.0,01:01:32,0.0,ar,5669.0,36002.0,80878.0,331947.0,etc,2.678249e-07,0.000103
9,1.0,20:20:02,0.0,aa,54445.0,383477.0,97930.0,197911.0,etc,1.339125e-05,0.013231
10,1.0,02:05:57,0.0,ab,69336.0,31464.0,119150.0,28903.0,etc,2.678249e-06,0.032727
12,1.0,19:08:28,0.0,bc,43052.0,319053.0,20210.0,222136.0,etc,3.053204e-06,0.100946
16,1.0,20:02:42,0.0,aw,85465.0,363858.0,53120.0,280973.0,spell,2.678249e-08,0.010286
18,1.0,22:48:20,0.0,ac,84252.0,296171.0,18239.0,343515.0,etc,5.356498e-08,0.009592
19,1.0,00:57:48,0.0,ae,88919.0,163122.0,33059.0,166779.0,etc,2.410424e-07,0.023563
20,1.0,19:52:35,0.0,ae,61493.0,32054.0,96350.0,376068.0,enchant_scroll,2.678249e-08,0.048092
21,1.0,16:07:04,0.0,ay,60246.0,245859.0,120555.0,58711.0,enchant_scroll,2.678249e-08,0.907031
23,1.0,19:21:52,0.0,au,123016.0,385775.0,41595.0,378579.0,enchant_scroll,2.678249e-08,0.002231
25,1.0,19:45:01,0.0,ao,104184.0,276989.0,20704.0,296709.0,etc,3.669201e-06,0.001316
26,1.0,22:25:43,0.0,az,86394.0,291896.0,12392.0,169647.0,spell,8.034747e-07,0.004685
30,1.0,19:39:04,0.0,bd,48896.0,214868.0,92665.0,339362.0,enchant_scroll,2.678249e-08,0.008402
31,1.0,21:54:12,0.0,aa,32317.0,193580.0,94826.0,86924.0,etc,1.339125e-07,0.423981
32,1.0,22:13:32,0.0,ag,98414.0,279953.0,3597.0,295043.0,enchant_scroll,1.339125e-07,0.021743
37,1.0,18:44:01,0.0,ab,58601.0,197356.0,98416.0,128465.0,enchant_scroll,2.678249e-08,0.062319
39,1.0,23:55:24,0.0,an,52868.0,154757.0,40658.0,377934.0,etc,1.017735e-06,0.060408
47,1.0,18:52:38,0.0,bc,52366.0,288002.0,81240.0,137568.0,etc,8.034747e-08,0.021649
50,1.0,00:24:05,0.0,bd,86365.0,159310.0,129334.0,356858.0,etc,8.034747e-08,0.014056
52,1.0,17:13:17,0.0,ab,39644.0,344561.0,113916.0,153449.0,spell,8.034747e-07,0.004140
53,1.0,00:54:36,0.0,az,113572.0,118312.0,39576.0,245319.0,enchant_scroll,2.678249e-08,0.010280
58,1.0,20:34:34,0.0,ag,14962.0,333339.0,13917.0,339754.0,enchant_scroll,2.678249e-08,0.047329
59,1.0,23:49:12,0.0,ag,82298.0,66765.0,77888.0,150352.0,etc,2.142599e-07,0.037764
60,1.0,14:15:50,0.0,av,54082.0,242706.0,55722.0,41296.0,etc,2.678249e-08,0.151964
61,1.0,15:32:21,0.0,ay,118153.0,62128.0,101892.0,214410.0,etc,9.373872e-07,0.130907
62,1.0,19:17:08,0.0,al,47116.0,278286.0,44731.0,49273.0,enchant_scroll,2.678249e-08,0.052211
63,1.0,20:26:35,0.0,ab,30405.0,45285.0,106939.0,233153.0,enchant_scroll,1.339125e-07,0.007372
...,...,...,...,...,...,...,...,...,...,...,...
2245157,4.0,23:59:28,0.0,aw,35376.0,291875.0,122430.0,33153.0,etc,2.678249e-06,0.004675
2245159,4.0,23:59:29,0.0,az,88337.0,232964.0,34706.0,46315.0,etc,1.339125e-07,0.126231
2245160,4.0,23:59:29,0.0,bc,121069.0,31323.0,84141.0,310774.0,etc,5.356498e-07,0.034185
2245161,4.0,23:59:29,0.0,al,109406.0,180711.0,44432.0,395074.0,etc,2.678249e-07,0.001674
2245162,4.0,23:59:30,0.0,as,22733.0,269328.0,121564.0,270261.0,etc,2.678249e-08,0.088419
2245163,4.0,23:59:31,0.0,az,77707.0,21999.0,17803.0,379912.0,spell,2.678249e-06,0.014830
2245164,4.0,23:59:35,0.0,bb,127691.0,51196.0,121511.0,4142.0,enchant_scroll,5.356498e-08,0.038724
2245166,4.0,23:59:36,0.0,aq,26054.0,352444.0,124524.0,171274.0,etc,1.339125e-07,0.036186
2245167,4.0,23:59:37,0.0,aa,49180.0,361386.0,112768.0,132329.0,etc,8.034747e-07,0.004982
2245169,4.0,23:59:38,0.0,bb,49552.0,118686.0,71795.0,39146.0,spell,2.678249e-06,0.036027
2245170,4.0,23:59:38,0.0,al,62362.0,72645.0,43267.0,288080.0,etc,2.678249e-07,0.298043
2245172,4.0,23:59:39,0.0,au,3267.0,384612.0,19307.0,203850.0,etc,4.017374e-07,0.110662
2245173,4.0,23:59:39,0.0,ae,40287.0,130113.0,101290.0,198391.0,etc,5.356498e-07,0.073712
2245174,4.0,23:59:41,0.0,ax,51259.0,161368.0,86194.0,356684.0,etc,2.678249e-06,0.008415
2245175,4.0,23:59:42,0.0,bd,40614.0,142318.0,68621.0,145302.0,etc,1.955122e-06,0.001552
2245176,4.0,23:59:44,0.0,aw,35376.0,291875.0,95233.0,224095.0,etc,5.356498e-06,0.009351
2245178,4.0,23:59:45,0.0,bd,79333.0,314249.0,113640.0,240411.0,armor,2.678249e-08,0.001029
2245179,4.0,23:59:45,0.0,ao,91657.0,53686.0,63864.0,263835.0,etc,5.356498e-08,0.718071
2245180,4.0,23:59:46,0.0,ah,106523.0,222190.0,100993.0,290151.0,etc,8.034747e-08,0.001874
2245181,4.0,23:59:46,0.0,al,18953.0,277004.0,113600.0,302387.0,weapon,2.678249e-08,0.014842
2245182,4.0,23:59:47,0.0,an,38925.0,126139.0,54316.0,68759.0,armor,2.678249e-08,0.991153
2245183,4.0,23:59:47,0.0,az,61748.0,139972.0,137.0,161092.0,etc,1.339125e-06,0.005194
2245186,4.0,23:59:51,0.0,aa,31593.0,388969.0,20321.0,75267.0,enchant_scroll,2.678249e-08,0.047921
2245187,4.0,23:59:51,0.0,as,96185.0,296104.0,71397.0,173538.0,etc,2.678249e-07,0.136050
2245188,4.0,23:59:52,0.0,bd,15214.0,111066.0,113640.0,240411.0,armor,5.356498e-08,0.002078
2245189,4.0,23:59:53,0.0,ae,40287.0,130113.0,101290.0,198391.0,etc,2.678249e-07,0.040084
2245190,4.0,23:59:54,0.0,ar,110200.0,157203.0,54753.0,379380.0,etc,5.356498e-08,0.102856
2245191,4.0,23:59:54,0.0,al,111690.0,268131.0,113600.0,302387.0,weapon,2.678249e-08,0.014851
2245192,4.0,23:59:55,0.0,aq,119257.0,86114.0,124524.0,171274.0,etc,2.678249e-08,0.004749
2245195,4.0,23:59:57,0.0,au,68065.0,124082.0,13713.0,28868.0,etc,2.678249e-08,0.079686

In [11]:
type_0.dropna(inplace=True)

In [32]:
temp = type_0.copy()

In [16]:
del temp['server']

In [17]:
temp['item_type']

0                     etc
4                     etc
5                     etc
8                     etc
9                     etc
10                    etc
12                    etc
16                  spell
18                    etc
19                    etc
20         enchant_scroll
21         enchant_scroll
23         enchant_scroll
25                    etc
26                  spell
30         enchant_scroll
31                    etc
32         enchant_scroll
37         enchant_scroll
39                    etc
47                    etc
50                    etc
52                  spell
53         enchant_scroll
58         enchant_scroll
59                    etc
60                    etc
61                    etc
62         enchant_scroll
63         enchant_scroll
                ...
2245157               etc
2245159               etc
2245160               etc
2245161               etc
2245162               etc
2245163             spell
2245164    enchant_scroll
2245166               etc
2245167               etc
2245169             spell
2245170               etc
2245172               etc
2245173               etc
2245174               etc
2245175               etc
2245176               etc
2245178             armor
2245179               etc
2245180               etc
2245181            weapon
2245182             armor
2245183               etc
2245186    enchant_scroll
2245187               etc
2245188             armor
2245189               etc
2245190               etc
2245191            weapon
2245192               etc
2245195               etc
Name: item_type, Length: 1205053, dtype: object

In [18]:
temp.where(temp['item_type']=='adena')

,day,time,type,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2245157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2245195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
temp.head()

,day,time,type,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,1.0,21:40:09,0.0,115641.0,202802.0,42143.0,197398.0,etc,2.678249e-07,0.001859
4,1.0,20:32:00,0.0,50284.0,44100.0,17523.0,276351.0,etc,5.356498e-08,0.037402
5,1.0,00:29:02,0.0,87962.0,334455.0,89597.0,321617.0,etc,2.678249e-05,0.031698
8,1.0,01:01:32,0.0,5669.0,36002.0,80878.0,331947.0,etc,2.678249e-07,0.000103
9,1.0,20:20:02,0.0,54445.0,383477.0,97930.0,197911.0,etc,1.339125e-05,0.013231

In [20]:
temp['item_type'].value_counts()

etc               759558
enchant_scroll    285052
armor              88025
spell              32481
accessory          23923
weapon             16014
Name: item_type, dtype: int64

In [21]:
temp.index = range(len(temp))

In [22]:
temp.head()

,day,time,type,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,1.0,21:40:09,0.0,115641.0,202802.0,42143.0,197398.0,etc,2.678249e-07,0.001859
1,1.0,20:32:00,0.0,50284.0,44100.0,17523.0,276351.0,etc,5.356498e-08,0.037402
2,1.0,00:29:02,0.0,87962.0,334455.0,89597.0,321617.0,etc,2.678249e-05,0.031698
3,1.0,01:01:32,0.0,5669.0,36002.0,80878.0,331947.0,etc,2.678249e-07,0.000103
4,1.0,20:20:02,0.0,54445.0,383477.0,97930.0,197911.0,etc,1.339125e-05,0.013231

In [23]:
temp.groupby('source_acc_id')['item_price'].sum()

source_acc_id
2.0          7.426084
3.0          0.718069
6.0          0.122860
8.0          0.064467
10.0         0.005948
11.0         0.231026
17.0         6.655042
18.0         1.397254
19.0         1.241447
20.0        16.743986
21.0         0.836389
22.0         0.426234
26.0         1.907977
27.0         0.003899
28.0         2.247430
30.0         1.495532
31.0         0.453557
33.0         0.011097
34.0         0.351478
36.0         0.133987
44.0         0.630185
45.0         0.032529
48.0         0.140897
50.0         1.588254
53.0         2.598125
58.0         4.987732
59.0        12.409197
61.0         0.052195
62.0         0.016433
63.0         4.073569
              ...
130405.0     0.347552
130410.0     0.071770
130411.0     0.051538
130412.0     0.044987
130414.0     0.337479
130415.0     1.291618
130416.0    39.175783
130418.0    31.136620
130423.0     2.310509
130424.0     1.001431
130426.0     0.457184
130427.0     0.967914
130428.0     0.454561
130432.0     0.106827
130434.0    56.562901
130444.0     0.068124
130445.0    29.294595
130446.0     0.689009
130449.0     0.243050
130450.0     0.244737
130456.0     0.007882
130459.0    13.801293
130466.0     3.481130
130468.0     0.173935
130469.0     3.345610
130470.0     1.206664
130471.0     3.482773
130472.0     0.730797
130473.0     0.984702
130474.0     0.004436
Name: item_price, Length: 56738, dtype: float64

In [24]:
import datetime

In [34]:
temp['day'] = pd.to_datetime(temp['day'],format='0000-00-%d')

ValueError: time data 1.0 does not match format '0000-00-%d' (match)

In [35]:
temp.duplicated()

0          False
4          False
5          False
8          False
9          False
10         False
12         False
16         False
18         False
19         False
20         False
21         False
23         False
25         False
26         False
30         False
31         False
32         False
37         False
39         False
47         False
50         False
52         False
53         False
58         False
59         False
60         False
61         False
62         False
63         False
           ...
2245157    False
2245159    False
2245160    False
2245161    False
2245162    False
2245163    False
2245164    False
2245166    False
2245167    False
2245169    False
2245170    False
2245172    False
2245173    False
2245174    False
2245175    False
2245176    False
2245178    False
2245179    False
2245180    False
2245181    False
2245182    False
2245183    False
2245186    False
2245187    False
2245188    False
2245189    False
2245190    False
2245191    False
2245192    False
2245195    False
Length: 1205053, dtype: bool

In [37]:
temp.loc[temp.duplicated()]

Empty DataFrame
Columns: [day, time, type, server, source_acc_id, source_char_id, target_acc_id, target_char_id, item_type, item_amount, item_price]
Index: []

In [38]:
temp.head()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,1.0,21:40:09,0.0,bd,115641.0,202802.0,42143.0,197398.0,etc,2.678249e-07,0.001859
4,1.0,20:32:00,0.0,ay,50284.0,44100.0,17523.0,276351.0,etc,5.356498e-08,0.037402
5,1.0,00:29:02,0.0,ac,87962.0,334455.0,89597.0,321617.0,etc,2.678249e-05,0.031698
8,1.0,01:01:32,0.0,ar,5669.0,36002.0,80878.0,331947.0,etc,2.678249e-07,0.000103
9,1.0,20:20:02,0.0,aa,54445.0,383477.0,97930.0,197911.0,etc,1.339125e-05,0.013231

In [45]:
trade_type0_count = temp.groupby('source_acc_id')['source_char_id'].count()

In [40]:
trade_type0_count

source_acc_id
2.0          23
3.0          15
6.0           8
8.0           2
10.0          5
11.0          1
17.0         27
18.0         44
19.0         11
20.0         20
21.0          5
22.0          8
26.0          9
27.0          2
28.0          7
30.0          4
31.0          2
33.0         25
34.0         18
36.0          2
44.0          4
45.0          2
48.0          1
50.0         57
53.0         59
58.0         14
59.0        132
61.0          1
62.0          4
63.0         24
           ...
130405.0      6
130410.0      1
130411.0      1
130412.0      5
130414.0     15
130415.0     15
130416.0    302
130418.0    136
130423.0     30
130424.0      4
130426.0      6
130427.0      5
130428.0      4
130432.0      9
130434.0     87
130444.0      3
130445.0     30
130446.0     10
130449.0      7
130450.0      5
130456.0      4
130459.0     73
130466.0     13
130468.0      2
130469.0     16
130470.0     51
130471.0     17
130472.0      3
130473.0      1
130474.0      6
Name: source_char_id, Length: 56738, dtype: int64

In [43]:
temp['source_acc_id'].loc[temp['source_acc_id']==2]

10156      2.0
48190      2.0
49630      2.0
61554      2.0
73152      2.0
77868      2.0
130194     2.0
297788     2.0
445694     2.0
568758     2.0
740506     2.0
819653     2.0
826546     2.0
974347     2.0
1046094    2.0
1276092    2.0
1295212    2.0
1330846    2.0
1360239    2.0
1545180    2.0
1622320    2.0
1713350    2.0
1837756    2.0
Name: source_acc_id, dtype: float64

In [49]:
trade_type0_count.index.astype('int32')

Int64Index([     2,      3,      6,      8,     10,     11,     17,     18,
                19,     20,
            ...
            130456, 130459, 130466, 130468, 130469, 130470, 130471, 130472,
            130473, 130474],
           dtype='int64', name='source_acc_id', length=56738)

In [50]:
trade_type0_count

source_acc_id
2.0          23
3.0          15
6.0           8
8.0           2
10.0          5
11.0          1
17.0         27
18.0         44
19.0         11
20.0         20
21.0          5
22.0          8
26.0          9
27.0          2
28.0          7
30.0          4
31.0          2
33.0         25
34.0         18
36.0          2
44.0          4
45.0          2
48.0          1
50.0         57
53.0         59
58.0         14
59.0        132
61.0          1
62.0          4
63.0         24
           ...
130405.0      6
130410.0      1
130411.0      1
130412.0      5
130414.0     15
130415.0     15
130416.0    302
130418.0    136
130423.0     30
130424.0      4
130426.0      6
130427.0      5
130428.0      4
130432.0      9
130434.0     87
130444.0      3
130445.0     30
130446.0     10
130449.0      7
130450.0      5
130456.0      4
130459.0     73
130466.0     13
130468.0      2
130469.0     16
130470.0     51
130471.0     17
130472.0      3
130473.0      1
130474.0      6
Name: source_char_id, Length: 56738, dtype: int64

In [52]:
trade_type0_price = temp.groupby('source_acc_id')['item_price'].sum()

In [53]:
trade_type0_price

source_acc_id
2.0          7.426084
3.0          0.718069
6.0          0.122860
8.0          0.064467
10.0         0.005948
11.0         0.231026
17.0         6.655042
18.0         1.397254
19.0         1.241447
20.0        16.743986
21.0         0.836389
22.0         0.426234
26.0         1.907977
27.0         0.003899
28.0         2.247430
30.0         1.495532
31.0         0.453557
33.0         0.011097
34.0         0.351478
36.0         0.133987
44.0         0.630185
45.0         0.032529
48.0         0.140897
50.0         1.588254
53.0         2.598125
58.0         4.987732
59.0        12.409197
61.0         0.052195
62.0         0.016433
63.0         4.073569
              ...
130405.0     0.347552
130410.0     0.071770
130411.0     0.051538
130412.0     0.044987
130414.0     0.337479
130415.0     1.291618
130416.0    39.175783
130418.0    31.136620
130423.0     2.310509
130424.0     1.001431
130426.0     0.457184
130427.0     0.967914
130428.0     0.454561
130432.0     0.106827
130434.0    56.562901
130444.0     0.068124
130445.0    29.294595
130446.0     0.689009
130449.0     0.243050
130450.0     0.244737
130456.0     0.007882
130459.0    13.801293
130466.0     3.481130
130468.0     0.173935
130469.0     3.345610
130470.0     1.206664
130471.0     3.482773
130472.0     0.730797
130473.0     0.984702
130474.0     0.004436
Name: item_price, Length: 56738, dtype: float64

In [54]:
temp.groupby('server')['item_price'].sum()

server
aa    10061.835534
ab    10930.941815
ac     8926.655791
ad    10632.081112
ae     6254.409656
af     5573.219191
ag     7530.476442
ah     3209.962964
ai     6374.343594
aj     4002.146191
ak     4702.906878
al     7630.701203
am     8308.343056
an    17780.795401
ao     6741.544300
ap     6100.928369
aq     5236.236100
ar    27531.846532
as     8919.090514
at     9196.644737
au     7937.131443
av     6348.214740
aw     4373.194801
ax     8510.863623
ay    13222.459880
az     7964.592460
bb     1643.322874
bc     2192.198310
bd     3098.957552
bg     3102.121180
bs       22.056335
Name: item_price, dtype: float64

In [73]:
temp.groupby('server')['source_acc_id'].unique()[30].size

23

In [77]:
ser = pd.DataFrame(temp[['server','source_acc_id']])

In [80]:
ser.drop_duplicates(inplace=True)

In [81]:
ì„œë²„ì—ì„œê±°ëž˜í•œì•„ì´ë””ìˆ˜ = ser.groupby('server')['source_acc_id'].count()

In [82]:
ì„œë²„ì—ì„œê±°ëž˜í•œì•„ì´ë””ìˆ˜

server
aa    2069
ab    2335
ac    1882
ad    2406
ae    1780
af    1490
ag    1796
ah    1108
ai    1755
aj    1168
ak    1397
al    1909
am    1960
an    2638
ao    1491
ap    1441
aq    1545
ar    3221
as    2306
at    2328
au    1908
av    1710
aw    1228
ax    1875
ay    3756
az    2959
bb    1321
bc    1790
bd    9204
bg     811
bs      23
Name: source_acc_id, dtype: int64